{% extends 'admin/base.html.twig' %}

{% block title %}Editer | Informations
{% endblock %}

{% block left_sidebar %}
	{% include 'admin/common/left-sidebar.twig' with { active: 'resource-list' } %}
{% endblock %}

{% block main %}

    <h1>Edit Info</h1>

    {{ include('admin/info/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_info') }}">back to list</a>

    {{ include('admin/info/_delete_form.html.twig') }}
{% endblock %}
