{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter | Informations
{% endblock %}

{% block left_sidebar %}
	{% include 'admin/common/left-sidebar.twig' with { active: 'resource-list' } %}
{% endblock %}

{% block main %}

    <h1>Create new Info</h1>

    {{ include('admin/info/_form.html.twig') }}

    <a href="{{ path('admin_info') }}">back to list</a>
{% endblock %}
