<div class="input-group my-3">
    <span class="input-group-addon">
        <i class="lnr lnr-envelope fa-lg"></i>
    </span>
    {{ form_widget(form.username, {'attr': {'placeholder': "Nom d'utilisateur", 'class': 'form-control input-lg'}}) }}
</div>
<div class="input-group my-3">
    <span class="input-group-addon">
        <i class="lnr lnr-lock fa-lg"></i>
    </span>
    {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Mot de passe', 'class': 'form-control input-lg'}}) }}
</div>
<div class="input-group my-3">
    <span class="input-group-addon">
        <i class="lnr lnr-lock fa-lg"></i>
    </span>
    {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirmez le mot de passe', 'class': 'form-control input-lg'}}) }}
</div>
