<div class="row">

	<div class="col-sm-6">
		{{ form_row(form.username, {'attr': {'placeholder': "Nom d'utilisateur", 'class': 'form-control input-lg'}}) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.roles, {'attr': {'class': 'custom-select input-lg'}}) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.plainPassword.first, {'attr': {'placeholder': 'Mot de passe', 'class': 'form-control input-lg'}}) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.plainPassword.second, {'attr': {'placeholder': 'Confirmez le mot de passe', 'class': 'form-control input-lg'}}) }}
	</div>

</div>
