{% extends 'admin/base.html.twig' %}

{% block left_sidebar %}

{% include 'admin/common/left-sidebar.twig' with { active: 'users-list' } %}

{% endblock %}

{% block main %}
  <h1>{{ user.username }}</h1>
{% endblock %}
