<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="{{ path('admin_index') }}" {% if active == 'index' %} class="active" {% endif %}>
                    <i class="lnr lnr-home"></i> <span>Tableau de bord</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>