<div class="row">
    <div class="col-md-12">
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="lnr lnr-cross-circle"></i> Fonctionnalité non disponible
        </div>
    </div>
</div>

{# <span class="lnr lnr-cross-circle"></span> #}