RewriteEngine On

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule !\.(js|gif|JPG|JPEG|PNG|jpg|png|css|txt|svg|woff|woff2|ttf|map|ico|pdf|svg)$ public/index.php [L]
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]