RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule !\.(js|gif|JPG|JPEG|PNG|jpg|png|css|txt|xml|csv|ppt|pptx|xls||xlt|xlsx|pdf|docx|svg|woff|woff2|ttf|map|ico)$ public/index.php [L]
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]
