{% extends 'base.html.twig' %}

{% block title %}
  {{ App.name }} &ndash; Cours de soutien en Mauritanie
{% endblock %}

{% block main %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="container-fluid m-0">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1"
            data-aos="fade-right">
            <h2>
             {{ 'hero.about'|trans|raw }}
            </h2>
            <a href="#class" class="btn-get-started scrollto">{{ 'hero.courses'|trans|raw }}</a>
            <a href=""
              data-toggle="modal"
              data-target="#schedule"
              class="btn-get-started scrollto">
              {{ 'hero.planning'|trans|raw }}
            </a>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="fade-left">
            <img src="assets/img/hero-img.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Schedule Modal -->
    <div class="modal fade"
      id="schedule"
      tabindex="-1"
      role="dialog"
      aria-labelledby="schedule"
      aria-hidden="true">
      <div class="modal-center">
        <div class="modal-dialog .modal-align-center modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">
                Planning des cours
              </h4>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <ul class="timeline">
                    <h3>
                      <b>6<sup>eme</sup> AF</b>
                    </h3>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Lundi à
                          17h00 - Rediffusion : Mardi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Arabe et
                        Français
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Mardi à
                          17h00 - Rediffusion : Mercredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Mathématiques
                        et Instruction Religieuse
                      </p>
                    </li>
                    <hr />
                    <h3>
                      <b>4<sup>eme</sup> AS</b>
                    </h3>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Lundi à
                          17h00 - Rediffusion : Mardi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Mathématiques
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Mercredi
                          à 17h00 - Rediffusion : Jeudi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Arabe
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Jeudi à
                          17h00 - Rediffusion : Vendredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Français
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Vendredi
                          à 17h00 - Rediffusion : Samedi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Mathématiques
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Samedi à
                          17h00 - Rediffusion : Dimanche à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Arabe
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Dimanche
                          à 17h00 - Rediffusion : Lundi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Français
                      </p>
                    </li>
                    <hr />
                    <h3>
                      <b>7<sup>eme</sup> C</b>
                    </h3>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Mardi à
                          17h00 - Rediffusion : Mercredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Mathématiques
                        et Sciences
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Jeudi à
                          17h00 - Rediffusion : Vendredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Physique
                        Chimie
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Vendredi
                          à 17h00 - Rediffusion : Samedi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Mathématiques
                        et Sciences
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Samedi à
                          17h00 - Rediffusion : Dimanche à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Physique
                        Chimie
                      </p>
                    </li>
                    <hr />
                    <h3>
                      <b>7<sup>eme</sup> D</b>
                    </h3>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Mardi à
                          17h00 - Rediffusion : Mercredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b>Sciences
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Jeudi à
                          17h00 - Rediffusion : Vendredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Physique
                        Chimie et Mathématiques
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Samedi à
                          17h00 - Rediffusion : Dimanche à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Physique
                        Chimie et Sciences
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Dimanche
                          à 17h00 - Rediffusion : Lundi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Mathématiques
                      </p>
                    </li>
                    <hr />
                    <h3>
                      <b>7<sup>eme</sup> LO</b>
                    </h3>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Mardi à
                          17h00 - Rediffusion : Mercredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Arabe
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Mercredi
                          à 17h00 - Rediffusion : Jeudi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Droit Musulman
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Jeudi à
                          17h00 - Rediffusion : Vendredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Arabe
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Vendredi
                          à 17h00 - Rediffusion : Samedi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Pensée
                        Islamique
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Samedi à
                          17h00 - Rediffusion : Dimanche à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Droit Musulman
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Dimanche
                          à 17h00 - Rediffusion : Lundi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Pensée
                        Islamique
                      </p>
                    </li>
                    <hr />
                    <h3>
                      <b>7<sup>eme</sup> LM</b>
                    </h3>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Mardi à
                          17h00 - Rediffusion : Mercredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Arabe
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Mercredi
                          à 17h00 - Rediffusion : Jeudi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Français
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Jeudi à
                          17h00 - Rediffusion : Vendredi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Arabe
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Vendredi
                          à 17h00 - Rediffusion : Samedi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Philosophie
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Samedi à
                          17h00 - Rediffusion : Dimanche à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Français
                      </p>
                    </li>
                    <li>
                      <a target="" href="">
                        <b>
                          <i class="icofont-clock-time"></i> En direct : Dimanche
                          à 17h00 - Rediffusion : Lundi à 11h
                        </b>
                      </a>
                      <p>
                        <b><i class="icofont-book-alt"></i> Matière :</b> Philosophie
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <small>
                <i class="icofont-info-circle"></i> Ce planning peut changer à tout
                moment.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Schedule Modal -->

    <main id="main">
      <!-- ======= Classes Section ======= -->
      <section id="class" class="class section-bg">
        <div class="container">
          <div class="section-title">
            <h2 data-aos="fade-in">
              VEUILLEZ CHOISIR UNE CLASSE POUR COMMENCER
            </h2>
            <!-- <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <!-- Class item -->
                <a href="" class="col-md-4">
                  <div class="info-box mt-4">
                    <div class="circle-badge">
                      <strong>6<sup>eme</sup> AF</strong>
                    </div>
                    <h3>
                      6<sup>eme</sup> ANNEE FONDEMENTALE
                    </h3>
                  </div>
                </a>
                <!-- End of class item -->

                <!-- Class item -->
                <a href="" class="col-md-4">
                  <div class="info-box mt-4">
                    <div class="circle-badge">
                      <strong>4<sup>eme</sup> AS</strong>
                    </div>
                    <h3>
                      4<sup>eme</sup> ANNEE SECONDAIRE
                    </h3>
                  </div>
                </a>
                <!-- End of class item -->

                <!-- Class item -->
                <a href="" class="col-md-4">
                  <div class="info-box mt-4">
                    <div class="circle-badge">
                      <strong>7<sup>eme</sup> C</strong>
                    </div>
                    <h3>
                      TERMINALE C
                    </h3>
                  </div>
                </a>
                <!-- End of class item -->

                <!-- Class item -->
                <a href="" class="col-md-4">
                  <div class="info-box mt-4">
                    <div class="circle-badge">
                      <strong>7<sup>eme</sup> D</strong>
                    </div>
                    <h3>
                      TERMINALE D
                    </h3>
                  </div>
                </a>
                <!-- End of class item -->

                <!-- Class item -->
                <a href="" class="col-md-4">
                  <div class="info-box mt-4">
                    <div class="circle-badge">
                      <strong>7<sup>eme</sup> LM</strong>
                    </div>
                    <h3>
                      TERMINALE LM
                    </h3>
                  </div>
                </a>
                <!-- End of class item -->

                <!-- Class item -->
                <a href="" class="col-md-4">
                  <div class="info-box mt-4">
                    <div class="circle-badge">
                      <strong>7<sup>eme</sup> LO</strong>
                    </div>
                    <h3>
                      TERMINALE LO
                    </h3>
                  </div>
                </a>
                <!-- End of class item -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Classes Section -->

      <!-- ======= Plateforms Section ======= -->
      <section id="plateform" class="plateform section-bg">
        <div class="container">
          <div class="section-title">
            <h2 data-aos="fade-in">
              RESSOURCES NUMERIQUES
            </h2>
            <p data-aos="fade-in">
              En cette période de crise, des plateformes de cours a distance
              plus particulierement ont vu le jour. Veuillez les retrouvez
              ci-dessous en plus de plusieurs autres ressources qui peuvent vous
              être utiles.
            </p>
          </div>

          <div class="row plateform-container" data-aos="fade-up">
            <div class="col-lg-4 col-md-6 plateform-item">
              <div class="plateform-wrap">
                <img src="assets/img/plateformes/emed.png"
                  class="img-fluid"
                  alt="" />
                <div class="plateform-links">
                  <a href="https://edu.med.mr/">
                    <i class="icofont-eye"></i> VISITER LA PLATEFORME
                  </a>
                </div>
                <div class="plateform-info">
                  <h4>
                    eMed
                  </h4>
                  <p>
                    Mauritanian Experiences Diaspora
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 plateform-item">
              <div class="plateform-wrap">
                <img src="assets/img/plateformes/guarrini.png"
                  class="img-fluid"
                  alt="" />
                <div class="plateform-links">
                  <a href="https://guarrini.com/">
                    <i class="icofont-eye"></i> VISITER LA PLATEFORME
                  </a>
                </div>
                <div class="plateform-info">
                  <h4>
                    Guarrini
                  </h4>
                  <p>
                    Guarrini
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 plateform-item">
              <div class="plateform-wrap">
                <img src="assets/img/plateformes/igendoc.png"
                  class="img-fluid"
                  alt="" />
                <div class="plateform-links">
                  <a href="http://dec.mr/igendoc/">
                    <i class="icofont-eye"></i> VISITER LA PLATEFORME
                  </a>
                </div>
                <div class="plateform-info">
                  <h4>
                    Ressources BAC
                  </h4>
                  <p>
                    Ministère de l'Enseignement Secondaire
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Plateforms Section -->

      <!-- ======= Diffusion Section ======= -->
      <div class="section-title">
        <h2 data-aos="fade-in">
          LES COURS SONT DIFFUSES EN DIRECT SUR
        </h2>
        <i>
          La Télévision Scolaire informe les élèves du fondemental et du
          secondaire que la diffusion des cours débutera à partir du <b>
            23/03/2020
          </b> à <b>17H</b> sur <b>Al Mouritaniya 2</b> et la rediffusion le lendemain
          à <b>11H</b> selon l'emploi du temps. Les structures ci-dessous vous offrent
          les cours en direct sur les réseaux sociaux au même moment ou les cours
          sont diffusés à la télévision.
        </i>
      </div>

      <section id="diffusion" class="diffusion section-bg">
        <div class="container">
          <div class="row no-gutters diffusion-wrap clearfix wow fadeInUp">
            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <img src="assets/img/diffusion/tvm.png"
                  class="img-fluid"
                  alt=""
                  data-aos="flip-right" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <a href="https://www.youtube.com/channel/UCgsuntcLcQgc23yAPMVBzCQ">
                  <img src="assets/img/diffusion/bellwarmedia.png"
                    class="img-fluid"
                    alt=""
                    data-aos="flip-right"
                    data-aos-delay="100" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <a href="https://www.youtube.com/channel/UC6w48pmLqpVrvFBdv0nKzkg">
                  <img src="assets/img/diffusion/tawatur.jpg"
                    class="img-fluid"
                    alt=""
                    data-aos="flip-right"
                    data-aos-delay="200" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <a href="https://web.facebook.com/vision.mr/">
                  <img src="assets/img/diffusion/vision.png"
                    class="img-fluid"
                    alt=""
                    data-aos="flip-right"
                    data-aos-delay="300" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End diffusion Section -->
    </main>
    <!-- End #main -->
{% endblock %}
