{% extends 'base.html.twig' %}

{% block title %}{{ App.name }} &ndash; Cours de soutien en Mauritanie{% endblock %}

{% block main %}
<div class="h-100">

    <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container d-flex">
      <div class="row d-flex align-items-center">
      <div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>EDU.RIM</h1>
        <h2>EDU.RIM est une plateforme éducative mauritanienne dont l’objectif est de 
          rendre accessible le programme scolaire diffusé sur la télévision nationale à tous les élèves, 
          où qu’ils se situent sur le territoire nationale et accessible à tout moment</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section><!-- End Hero -->
    
</div>
{% endblock %}
