{% extends 'base.html.twig' %}

{% block title %}{{ App.name }} &ndash; Cours de soutien en Mauritanie{% endblock %}

{% block main %}
<div class="program">
    <div class="pricing-header pt-md-5">
        <h1 class="h3">Programme primaire</h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-primary">1<sup>ère</sup>AF</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-primary">2<sup>ème</sup>AF</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-primary">3<sup>ème</sup>AF</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-primary">4<sup>ème</sup>AF</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-primary">5<sup>ème</sup>AF</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-primary">6<sup>ème</sup>AF</button>
        </div>
    </div>
</div>

<div class="program">
    <div class="pricing-header pt-md-5">
        <h1 class="h3">Programme collège</h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-secondary">1<sup>ère</sup>AS</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-secondary">2<sup>ème</sup>AS</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-secondary">3<sup>ème</sup>AS</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-secondary">4<sup>ème</sup>AS</button>
        </div>
    </div>
</div>

<div class="program">
    <div class="pricing-header pt-md-5">
        <h1 class="h3">Programme lycée</h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-info">5<sup>ère</sup>C</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-info">5<sup>ème</sup>D</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-info">6<sup>ème</sup>C</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-info">6<sup>ème</sup>D</button>
        </div>
    </div>
</div>

<div class="program">
    <div class="pricing-header pt-md-5">
        <h1 class="h3">Terminale (BAC)</h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-success">Terminale A</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-success">Terminale C</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-success">Terminale D</button>
        </div>
        <div class="col-md-3 col-sm-4 col-6 mb-3">
            <button type="button" class="btn btn-lg btn-block btn-success">Terminale L</button>
        </div>
    </div>
</div>
{% endblock %}
