{% extends 'admin/base.html.twig' %}

{% block left_sidebar %}

{% include 'admin/common/left-sidebar.twig' with { active: 'index' } %}

{% endblock %}

{% block main %}
<!-- OVERVIEW -->
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Vue d'ensemble</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="metric">
                    <span class="icon"><i class="lnr lnr-users"></i></span>
                    <p>
                        <span class="number">123</span>
                        <span class="title"><a href="#">Utilisateurs</a></span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="metric">
                    <span class="icon"><i class="lnr lnr-camera-video"></i></span>
                    <p>
                        <span class="number">234</span>
                        <span class="title"><a href="#">Cours</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}