.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.container.main {
    min-height: calc(100vh - 167px);
}

nav .nav-links a{
    text-decoration: none;
    outline: none;
}

nav .nav-links a:active {
    outline: none;
}

.shadow-md {
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.125)!important;
}

.text-muted-2 {
    color: #4f555b!important;
}


/**/