/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Lato", sans-serif;
  color: hsl(0, 0%, 27%);
}

a {
  color: #129b00;
}

a:hover {
  color: #129b00;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cairo", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #129b00;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
  transition: all ease-in-out 0.3s;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #129b00;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 16px 0;
  background: #35404f;
}

#header .logo h1 {
  font-size: 34px;
  font-weight: 900;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo h1 a span,
#header .logo h1 a:hover span {
  color: #e5e5e5;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu ul {
  border-radius: 6px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}

.nav-menu .get-started a {
  background: #fff;
  font-size: 18px;
  font-family: "Cairo", sans-serif;
  color: #35404f;
  border-radius: 50px;
  margin: 2px 0 0 15px;
  padding: 4px 25px 6px 25px;
  border: 1px solid #fff;
}

.nav-menu .get-started a:hover {
  background: #35404f;
  color: #fff;
  border: 1px solid #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #35404f;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #129b00;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: absolute;
  right: 15px;
  top: 30px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #35404f;
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
  transition: 0.3s;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #129b00;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  text-align: center;
  font-family: "Cairo", sans-serif;
}

.mobile-nav .get-started a {
  background: #35404f;
  color: #fff;
  font-family: "Cairo", sans-serif;
  border-radius: 50px;
  margin: 15px;
  padding: 8px 25px 10px 25px;
  text-align: center;
}

.mobile-nav .get-started a:hover {
  background: #fff;
  color: #35404f;
  border: 1px solid #35404f;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(18, 33, 46, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  padding: 0 0 0 0;
  background: #35404f;
  background: linear-gradient(180deg, #35404f 0%, #35404f 35%, #35404f 100%);
}

#hero h1 {
  margin: 0 0 15px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Cairo", sans-serif;
}

#hero h2 {
  font-family: "Lato", sans-serif;
  color: #d2e0ed;
  margin-bottom: 30px;
  font-size: 22px;
}

#hero .btn-get-started {
  color: #fff;
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  border: 1px solid #fff;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: #35404f;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #35404f;
}

@media (max-width: 991px) {
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    -moz-text-align-last: center;
    text-align-last: center;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #35404f;
}

@media (max-width: 768px) {
  .section-title h2 {
    font-size: 20px;
  }
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #129b00;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.section-title i {
  padding-left: 20px;
  padding-right: 20px;
}

/*--------------------------------------------------------------
# Diffusion
--------------------------------------------------------------*/
.diffusion {
  padding: 0;
}

.diffusion .diff-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 120px;
}

.diffusion .diff-logo img {
  height: 60px;
}

.diffusion .diff-logo:hover img {
  transform: scale(1.2);
}

.diffusion img {
  transition: all 0.4s ease-in-out;
}

/*--------------------------------------------------------------
# Plateforms
--------------------------------------------------------------*/
.plateform .plateform-item {
  margin-bottom: 30px;
}

.plateform #plateform-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}

.plateform #plateform-flters li {
  cursor: pointer;
  margin: 0 5px 5px 0;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.plateform #plateform-flters li:hover,
.plateform #plateform-flters li.filter-active {
  color: #129b00;
}

.plateform #plateform-flters li:last-child {
  margin-right: 0;
}

.plateform .plateform-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}

.plateform .plateform-wrap::before {
  content: "";
  background: rgba(53, 64, 79, 0.82);
  position: absolute;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
}

.plateform .plateform-wrap img {
  transition: 0.3s;
}

.plateform .plateform-wrap .plateform-links {
  opacity: 0;
  left: 0;
  right: 0;
  top: calc(50% - 36px);
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.plateform .plateform-wrap .plateform-links a {
  color: #fff;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  line-height: 1;
  text-align: center;
  width: 200px;
  height: 100px;
  display: inline-block;
  transition: 0.3s;
}

.plateform .plateform-wrap .plateform-links a:hover {
  color: #fff;
}

.plateform .plateform-wrap .plateform-info {
  opacity: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.plateform .plateform-wrap .plateform-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.plateform .plateform-wrap .plateform-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.plateform .plateform-wrap:hover::before {
  left: 0;
}

.plateform .plateform-wrap:hover .plateform-links {
  opacity: 1;
  top: calc(50% - 18px);
}

.plateform .plateform-wrap:hover .plateform-info {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Classes
--------------------------------------------------------------*/
.class .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(53, 64, 79, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
  display: block;
}

.class .info-box:hover {
  background: rgba(238, 238, 238, 0.5);
}

.class .circle-badge {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50px;
  background: #35404f;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.class .info-box h3 {
  font-size: 20px;
  color: #35404f;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.class .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.class .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.class .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.class .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.class .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.class .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.class .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.class .php-email-form input,
.class .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.class .php-email-form input::focus,
.class .php-email-form textarea::focus {
  background-color: #129b00;
}

.class .php-email-form input {
  padding: 20px 15px;
}

.class .php-email-form textarea {
  padding: 12px 15px;
}

.class .php-email-form button[type="submit"] {
  background: #129b00;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.class .php-email-form button[type="submit"]:hover {
  background: #fdd067;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("../img/footer-bg.jpg") center center no-repeat;
  color: #fff;
  font-size: 12px;
  position: relative;
  font-family: "Cairo", sans-serif;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(26, 46, 64, 0.85);
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Cairo", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #129b00;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #129b00;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #284864;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #129b00;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #1a2e40;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
}

@media (max-width: 768px) {
  #footer .copyright,
  #footer .credits {
    padding: 5px;
    float: none;
    text-align: ceneter;
  }
}

/*
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------CUSTOM STYLES-----------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
*/

/* Schedule Timeline */
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #129b00;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.timeline h3 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}

/* Schedule Modal */
.modal-body h3 {
  font-size: 18px;
}

.modal-body {
  font-family: "Lato", sans-serif;
}

.modal-title {
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}

.hr-cp{
  color: #bd004d;
}