{% extends 'admin/base.html.twig' %}

{% block title %}Edit document{% endblock %}

{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'documents-list' } %}
{% endblock %}

{% block main %}
    <h3 class="page-title text-success">
        <span class="fa fa-edit"></span>
            Modifier le document
        <hr>
    </h3>

    {{ include('admin/document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_document_index') }}">back to list</a>

    {{ include('admin/document/_delete_form.html.twig') }}
{% endblock %}
