<form method="post" action="{{ path('admin_course_delete', {'id': course.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="btn btn-danger"><i class="lnr lnr-trash"></i> Delete</button>
</form>
