{% extends 'admin/base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'courses-list' } %}
{% endblock %}

{% block main %}
<h3 class="page-title text-success"><span class="lnr lnr-camera-video"></span> Liste des cours <span class="badge badge-success">{{ courses|length }}</span></h3></h3>

    {% include "admin/course/table.html.twig" with {courses: courses} %}

    <a href="{{ path('admin_course_new') }}" class="btn btn-primary"><i class="lnr lnr-plus-circle"></i> Create new</a>
{% endblock %}
