{% extends 'admin/base.html.twig' %}

{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'new-course' } %}
{% endblock %}

{% block title %}New Course{% endblock %}

{% block main %}
    <h1>Create new Course</h1>

    {{ include('admin/course/_form.html.twig') }}

    <a class="my-3 btn btn-info" href="{{ path('admin_courses') }}"><i class="lnr lnr-arrow-left fa-lg"></i> back to list</a>
{% endblock %}
