{% extends 'admin/base.html.twig' %}

{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'new-course' } %}
{% endblock %}

{% block title %}New Course{% endblock %}

{% block main %}
    <div class="col mx-3">
        <h3 class="page-title text-success"><span class="lnr lnr-plus-circle"></span> Ajouter un cours
            <a href="#" data-toggle="modal" data-target="#loadExcelFileModal" class="float-right small">
                <i class="fa fa-upload text-info"></i> <span class="text-info">Importer un fichier Excel</span></a>
        </h1>
        <hr>
    </div>
    <div class="modal fade" id="loadExcelFileModal" role="dialog" aria-labelledby="loadExcelFileModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loadExcelFileModalLabel"><i class="fa fa-file-import text-info"></i> <span class="text-info">Importer un fichier Excel</span></h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('App\\Controller\\Admin\\CourseController::loadCourses')) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-lg float-left" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    {{ include('admin/course/_form.html.twig') }}

    <a class="my-3 btn btn-info" href="{{ path('admin_courses') }}"><i class="lnr lnr-arrow-left fa-lg"></i> back to list</a>
{% endblock %}
