<!-- ======= Diffusion Section ======= -->
      <div class="section-title">
        <h2 data-aos="fade-in">
          LES COURS SONT DIFFUSES EN DIRECT SUR
        </h2>
        <i>
          La Télévision Scolaire informe les élèves du fondemental et du
          secondaire que la diffusion des cours débutera à partir du <b>
            23/03/2020
          </b> à <b>17H</b> sur <b>Al Mouritaniya 2</b> et la rediffusion le lendemain
          à <b>11H</b> selon l'emploi du temps. Les structures ci-dessous vous offrent
          les cours en direct sur les réseaux sociaux au même moment ou les cours
          sont diffusés à la télévision.
        </i>
      </div>

      <section id="diffusion" class="diffusion section-bg">
        <div class="container">
          <div class="row no-gutters diffusion-wrap clearfix wow fadeInUp">
            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <img src="assets/img/diffusion/tvm.png"
                  class="img-fluid"
                  alt=""
                  data-aos="flip-right" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <a href="https://www.youtube.com/channel/UCgsuntcLcQgc23yAPMVBzCQ">
                  <img src="{{ asset('/public/images/') }}"
                    class="img-fluid"
                    alt=""
                    data-aos="flip-right"
                    data-aos-delay="100" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <a href="https://www.youtube.com/channel/UC6w48pmLqpVrvFBdv0nKzkg">
                  <img src="{{ asset('images/diffusion/tawatur.jpg') }}"
                    class="img-fluid"
                    alt=""
                    data-aos="flip-right"
                    data-aos-delay="200" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <a href="https://web.facebook.com/vision.mr/">
                  <img src="{{ asset('images/diffusion/vision.png') }}"
                    class="img-fluid"
                    alt=""
                    data-aos="flip-right"
                    data-aos-delay="300" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End diffusion Section -->