<!-- ======= Footer ======= -->
  <div class="container-fluid>
  <footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>RETROUVEZ NOUS SUR</h3>
          </div>
        </div>

        <div class="social-links">
          <a href="https://facebook.com/rimacademyofficiel" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="http://twitter.com/rim_academy" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UCmicy4Xqf2PISbNoZDzOTaw" class="instagram"><i class="bx bxl-youtube"></i></a>
        </div>

      </div>
    </div>

      <div class="container footer-bottom clearfix">
      <div class="copyright">
        Made with <i class="icofont-heart-alt hr-cp"></i> by Rim Academy. With the contribution of <a href="https://github.com/rand0mdev">rand0mDev</a>
      </div>
      <div class="credits">
        Hosted by <a href="https://www.iprod.mr/">iProd technology ©</a>
      </div>
    </div>
  </footer>
  <
  <!-- End Footer -->