{% from "util/widgets.html.twig" import displayLocales %}

 <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">
      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">COURAT<span><sup> by Rim Academy</sup></span></a></h1>
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">ACCEUIL</a></li>
          <li class="active"><a href="#" data-toggle="modal" data-target="#schedule">PLANNING</a></li>
          <li><a href="{{path('course_index',{name:'})}}">6<sup>EME</sup> AF</a></li>
          <li><a href="#">4<sup>EME</sup> AS</a></li>
          <li class="drop-down"><a href="">TERMINALE</a>
            <ul>
              <li><a href="#">TERMINALE C</a></li>
              <li><a href="#">TERMINALE D</a></li>
              <li><a href="#">TERMINALE LM</a></li>
              <li><a href="#">TERMINALE LO</a></li>
            </ul>
          </li>

          <!-- Language Changer -->
          <li class="get-started"><a href="#">العربية</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->