<footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3> {{ 'footer.follow'|trans|raw}}</h3>
          </div>
        </div>

        <div class="social-links">
          <a href="https://facebook.com/rimacademyofficiel" class="mx"><i class="fab fa-facebook-f"></i></a>
          <a href="http://twitter.com/rim_academy" class="mx"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UCmicy4Xqf2PISbNoZDzOTaw" class="mx"><i class="fab fa-youtube"></i></a>
        </div>

      </div>
    </div>

      <div class="container footer-bottom clearfix">
      <div class="row">
        <div class="copyright col-md-6 text-right">
          {{ 'footer.copyright'|trans|raw }}
        </div>
        <div class="dev col-md-6 text-left">
          {{ 'footer.dev'|trans({'%link%': path('contributors')})|raw }}
        </div>
        {# <div class="credits col-md-4">
          {{ 'footer.credits'|trans|raw }}
        </div>   #}
    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>