<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <div class="d-flex my-0 mr-md-auto justify-content-between align-items-center">
        <h5 class="mr-3 font-weight-normal">
            <img src="{{ asset('images/logo.png') }}" height="50" alt="">
        </h5>
        <a href="" class=" text-decoration-none"><i class="fa fa-language"></i> Arabe</a>
    </div>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Primaire</a>
      <a class="p-2 text-dark" href="#">Collège</a>
      <a class="p-2 text-dark" href="#">Lycée</a>
    </nav>
    <div class="d-flex justify-content-between">
        <a class="btn btn-outline-primary" href="#"><i class="fa fa-user-plus"></i> Créer un compte</a>
        <a class="btn btn-outline-primary ml-2" href="#"><i class="fa fa-sign-in-alt"></i> Connexion</a>
    </div>
</div>