<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ App.name }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
