<h4>Résultats de recherche</h4><hr>
<ul class="list-unstyled list-hoverable">
    {% for user in users %}
        <li class="mt-3 py-3 {% if not loop.last %}border-bottom{% endif %}">
                {{ user.username }}
            </a><label class="label label-default">{{ user.masterRole|trans }}</label>
            {% if user.hasRole('ROLE_ADMIN') %}
                <span class="float-right text-info px-2"><i class="fa fa-check-circle-o"></i> Ajouté</span>
            {% else %}
                <a href="#" data-user-id="{{ user.id }}" class="add-user-btn float-right btn btn-success py-0 px-2"><i class="fa fa-plus-circle"></i> Ajouter</a>
            {% endif %}
        </li>
    {% else %}
        <li class="mx-3 my-3">Aucun utilisateur trouvé.</li>
    {% endfor %}
</ul>