<div class="row">

	<div class="col-sm-6">
		{{ form_row(form.title, {'attr': {'class': 'input-lg'}}) }}
    </div>

	<div class="col-sm-6">
		{{ form_row(form.url, {'attr': {'class': 'input-lg'}}) }}
    </div>

	<div class="col-sm-6">
		{{ form_row(form.subject, {'attr': {'class': 'custom-select input-lg'}}) }}
    </div>
    
	<div class="col-sm-6">
		{{ form_row(form.classe, {'attr': {'class': 'custom-select input-lg'}}) }}
	</div>
</div>

