{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter un article
{% endblock %}

{% block left_sidebar %}
	{% include 'admin/common/left-sidebar.twig' with { active: 'new-article' } %}
{% endblock %}

{% block main %}

    <h1>Ajouter un article</h1>

    {{ include('admin/article/_form.html.twig') }}

    <a class="my-3 btn btn-info" href="{{ path('admin_article') }}"><i class="lnr lnr-arrow-left fa-lg"></i> Retourner a la liste</a>
{% endblock %}
