<div class="row">
    {% for document in documents %}
    <!-- Library item -->
        <a href="" class="col-md-3">
            <div class="info-box lib rounded mt-3">
                <div class="circle-badge-light">
                    <strong>
                        <i class="icofont-file-pdf icofont-3x"></i>
                    </strong>
                </div>
                <h3>
                    {{ document.title }}
                </h3>
                <hr>
                <span class="badge badge-secondary">{{ document.classe|trans|raw }}</span>
                <span class="badge badge-success">{{ document.subject|trans }}</span>
            </div>
        </a>
    <!-- End of Library item -->
    {% else %}
        <p class="alert alert-info w-100 text-center">Pas de documents disponibles.</p>
    {% endfor %}
</div>