<div class="row">
    {% for document in documents %}
    {% set url = document.fileUrl ?: vich_uploader_asset(document) %}
    <!-- Library item -->
        <a href="{{ url }}" target="_blank" class="col-sm-6 col-lg-4 col-xl-3 mb-4">
            <div class="info-box lib rounded h-100">
                <div class="circle-badge-light">
                    <strong>
                        <i class="icofont-file-pdf icofont-3x"></i>
                    </strong>
                </div>
                <h3>
                    {{ document.title }}
                </h3>
                <hr class="mb-2">
                <span class="badge badge-secondary">{{ document.classe|trans|raw }}</span>
                <span class="badge badge-success">{{ document.subject|trans }}</span>
            </div>
        </a>
    <!-- End of Library item -->
    {% else %}
        <p class="text-info w-100 text-center" style="height: 40px;">Pas de documents disponibles.</p>
    {% endfor %}
</div>